body {
  margin: 0;
  padding: 0;
  background-color: #893823;
  color: white;
}

.NavBar {
  height: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #672a1b;
}

.NavLeftSide {
  font-size: 1.5rem;
  margin: auto 1rem;
}

.NavbarItems ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.NavbarItems ul li {
  list-style: none;
}

.NavbarItems ul li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.NavbarItems li:hover {
  background-color: #893823;
}
