body {
  margin: 0;
  padding: 0;
  background-color: #893823;
  color: white;
}

.NavBar {
  height: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #672a1b;
}

.NavLeftSide {
  font-size: 1.5rem;
  margin: auto 1rem;
}

.NavbarItems ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.NavbarItems ul li {
  list-style: none;
}

.NavbarItems ul li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.NavbarItems li:hover {
  background-color: #893823;
}

.order-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
  max-width: 300px;
  color: black;
  margin: 15px;
}

h2 {
  color: #000000;
}

.order {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}

.in-progress {
  color: darkgoldenrod;
}

.complete {
  color: darkgreen;
}

br {
  display: block;
  content: "";
  margin: 20px 0;
}

.order-box a {
  text-decoration: none;
}
